<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<body>

<header th:fragment="navigation (page)">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/}">Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" th:class="${page == 'index'} ? 'nav-item active' : 'nav-item'">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item active" th:class="${page == 'products'} ? 'nav-item active' : 'nav-item'">
                    <a class="nav-link" th:href="@{/products}" th:text="#{messages.products}">Products</a>
                </li>
            </ul>
            <form th:action="@{/products/search}" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" name="searchTerm" th:placeholder="Search">
                <button class="btn my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <!--/*@thymesVar id="message" type="io.seventytwo.tomobola.boundary.Message"*/-->
    <div id="message" th:if="${message != null}">
        <div th:class="${message.isError() ? 'alert alert-danger': 'alert alert-success'}">
            <span th:text="${message.getMessage()}"></span>
        </div>
    </div>

</header>

</body>

</html>