<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<head th:replace="common/head :: head"></head>

<body>

<div th:replace="common/navigation :: navigation ('index')"></div>

<div class="container">
    <div class="row">
        <div class="col-lg">
            <h1>Login</h1>

            <form th:action="@{/login}" method="post">

                <div class="form-group">
                    <label for="username" th:text="#{message.username}">E-Mail</label>
                    <input name="username" id="username" class="form-control"/>
                </div>

                <div class="form-group">
                    <label for="password" th:text="#{messages.password}">Password</label>
                    <input type="password" name="password" id="password" class="form-control"/>
                </div>

                <button class="btn btn-primary" th:text="#{messages.sign_in}">Sign In</button>
            </form>

            <div th:if="${param.error}" class="alert alert-danger" role="alert" style="margin-top: 20px;">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}" class="alert alert-success" role="alert" style="margin-top: 20px;">
                You have been logged out.
            </div>

        </div>
    </div>
</div>

<div th:replace="common/footer :: footer"></div>

</body>

</html>