<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<head th:replace="common/head :: head"></head>

<body>

<div th:replace="common/navigation :: navigation ('products')"></div>

<div class="container">
    <div class="row">
        <div class="col-lg">
            <h1 th:text="#{messages.products}">Products</h1>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th th:text="#{messages.number}">Number</th>
                    <th th:text="#{messages.title}">Title</th>
                    <th th:text="#{messages.description}">Description</th>
                    <th th:text="#{messages.price}">Price</th>
                    <th><a th:href="@{/products/new}" th:text="#{messages.add_product}">Add</a></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${products}">
                    <td th:text="${product.productNumber}"></td>
                    <td th:text="${product.title}"></td>
                    <td th:text="${product.description}"></td>
                    <td th:text="${product.price}"></td>
                    <td><a th:href="@{/products/{id}(id=${product.id})}" th:text="#{messages.edit}">Edit</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:replace="common/footer :: footer"></div>

</body>

</html>