<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<head th:replace="common/head :: head"></head>

<body>

<div th:replace="common/navigation :: navigation ('products')"></div>

<div class="container">
    <div class="row">
        <div class="col-lg">
            <h1 th:text="#{messages.product}">Product</h1>

            <form th:action="@{/products}" th:object="${product}" method="post">
                <input type="hidden" th:field="*{id}">
                <div class="form-group">
                    <label for="number" th:text="#{messages.number}">Number</label>
                    <input type="text" class="form-control" id="number" th:placeholder="#{messages.number}"
                           th:field="*{productNumber}" required autofocus>
                </div>
                <div class="form-group">
                    <label for="title" th:text="#{messages.title}">Title</label>
                    <input type="text" class="form-control" id="title" th:placeholder="#{messages.title}"
                           th:field="*{title}" required>
                </div>
                <div class="form-group">
                    <label for="description" th:text="#{messages.description}">Description</label>
                    <input type="text" class="form-control" id="description" th:placeholder="#{messages.description}"
                           th:field="*{description}" required>
                </div>
                <div class="form-group">
                    <label for="price" th:text="#{messages.price}">Price</label>
                    <input type="text" class="form-control" id="price" th:placeholder="#{messages.price}"
                           th:field="*{price}" required>
                </div>
                <button type="submit" class="btn btn-primary" th:text="#{messages.save}">Save</button>
                <a class="btn" th:href="@{/products}" th:text="#{messages.back}">Back</a>
            </form>
        </div>
    </div>
</div>

<div th:replace="common/footer :: footer"></div>

</body>

</html>